- haml_tag_if(!defined?(wrapper), :div, id: "app-#{app.id}", class: "app") do
  - status = app.proper ? "success" : "danger"
  .alert{class: "alert-#{status}"}
    - if !app.proper
      .progress.progress-danger.progress-striped
        .bar{style: "width: #{app.status.to_s}%"}
          %p= app.state
    - if app.title
      %h3
        = show_platform(app.platform)
        = link_to_if app.status == 100, app.title, [app.user, app]
        - if app.version
          %span.label.label-info.header-inline= app.version
    - if app.status < 100
      .progress.progress-success.progress-striped.active
        .bar{style: "width: #{app.status.to_s}%"}
          %p= app.state
      - if !defined? js
        - content_for :javascript_onload do
          :plain
            refreshApp(#{app.id});
    %span
      %em= "uploaded " + distance_of_time_in_words_to_now(app.created_at) + " ago"
