= form_for app, html: {multipart: true, class: "form-horizontal"} do |f|
  %fieldset
    %legend Upload a signed app
    .control-group
      = f.label :key_id, class: "control-label"
      .controls
        = f.select :key_id, user.keys.collect {|k| [k.title, k.id]}, {include_blank: true}
        %span.help-inline Used to check the signature on the app
        %p.help-block
          Need to
          = link_to "add the key", edit_user_path(current_user, anchor: "keys-pane")
          first?
    .control-group
      = label_tag :file, 'File', class: "control-label"
      .controls
        = file_field_tag :file
        %span.help-inline.label Only Android .apk files supported (for Alpha).
        %p.help-block
          We only grab
          %strong metadata
          from your app and
          %strong scan it
          before
          %strong deleting
          the uploaded data from our servers.
    .form-actions
      = f.submit class: "btn btn-primary"
