<!DOCTYPE html>
<html>
<head>
  <title>Goodapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="brand">GoodApp</a>
        <ul class="nav">
          <li class="<%= 'active' if @active[:about] %>"><a href="/about">About</a></li>
          <li class="<%= 'active' if @active[:contact] %>"><a href="/contact">Contact</a></li>
          <li class="<%= 'active' if @active[:api] %>"><a href="/api">API</a></li>
        </ul>
        <form class="navbar-search" action="/search" method="get">
          <input type="text" name="q" class="search-query" value="<%= params[:q] %>" placeholder="Search by app or dev" />
        </form>
        <ul id="user-info" class="nav pull-right">
        <% if current_user %>
          <li class="<%= 'active' if @active[:user] %>"><%= link_to '@'+current_user.name, current_user %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        <% else %>
          <li class="<%= 'active' if @active[:register] %>"><%= link_to 'Register', register_path %></li>
          <li class="<%= 'active' if @active[:login] %>"><%= link_to 'Login', login_path %></li>
        <% end %>
        </ul>
        <% if current_user %>
          <%= link_to 'Upload an App', upload_path, :id => 'upload-button', :class => 'btn btn-primary pull-right' %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="content" class="container">
    <%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
    <%= yield %>
  </div>
  <div id="footer" class="container">
    <p><strong>NULL &copy; 2012</strong> - Project in collaboration with <b>Microsoft</b> through UCSB CS189A-B Capstone courses. </p>
  </div>
</body>
</html>
