!!!
%html
  %head
    %title
      GoodApp
      = yield :title
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      = render "static/header"
    #main.container
      = render partial: "shared/flash", locals: {flash: flash}
      = yield
    #footer.container
      = render "static/footer"
    :javascript
      /* declarations */
      #{yield :javascript_declarations}
      /* onload */
      $(function() {
        #{yield :javascript_onload}
      });
