= form_tag login_path, class: "form-horizontal" do
  %fieldset
    %legend Login
    .control-group
      = label_tag :email
      .controls
        = text_field_tag :email, "", class: "input-xlarge"
    .control-group
      = label_tag :password
      .controls
        = password_field_tag :password, "", class: "input-xlarge"
    .form-actions
      = button_tag "Login", class: "btn btn-primary"
      = button_tag "Cancel", type: "reset", class: "btn"
