<%= form_tag login_path, :class => 'form-horizontal' do %>
  <fieldset>
    <legend>Login</legend>
    <div class="control-group">
      <%= label_tag :email %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-envelope"></i></span>
          <%= text_field_tag :email, '', :class => 'input-xlarge' %>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :password %>
      <div class="controls">
        <%= password_field_tag :password, '', :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="form-actions">
      <%= button_tag 'Login', :class => 'btn btn-primary' %>
      <%= button_tag 'Cancel', :type => 'reset', :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
