= title 'Search Results'

.row
  .span6
    %h2 Apps
    - found = false
    - App.all.each do |app|
      - if app.name.downcase.include?(@search_query.downcase)
        %li
          = app.name
        - found = true
    - if !found
      = "No apps found"
  .span6
    %h2 Devs
    - found = false
    - User.all.each do |dev|
      - if dev.name.downcase.include?(@search_query.downcase)
        .row
          .span1
            = dev.name
          .span3
            = dev.name
            %br
            = "Trust Rating: n/a"
            - #TODO!! display trust rating ^
        %hr 
        - found = true
    - if !found
      = "No devs found"
