%h1 Account Settings

.row
  .span6
    = render partial: "users/form"
  .span6
    = form_for @user, html: {multipart: true,
      class: "form-horizontal"} do |f|
      %fieldset
        %legend Profile Info
        .control-group
          = control_status(@user, :about)
          = f.label :about, class: "control-label"
          .controls
            = f.text_area :about, rows: 4, class: "input-xlarge"
        .control-group
          = control_status(@user, :avatar)
          = f.label :avatar, class: "control-label"
          .controls
            = f.file_field :avatar, class: "input-xlarge"
        .form-actions
          = f.submit "Update Profile", class: "btn btn-primary"
          = button_tag "Cancel", type: "reset", class: "btn"
- if logged_in?
  - if current_user.is_dev
    %h4 You are a developer
    = button_to "Downgrade to Normal User Account",
      downgrade_path, id: "downgrade-button",
      confirm: "Are you sure you would like to downgrade your account?",
      class: "btn btn-danger"
    %p.help-block
      CAUTION. Downgrading your account to a normal user means you
      will lose your developer status and trust, as well as the link
      between you and your App.
  - else
    %h4 You are a regular user
    = button_to "Upgrade to Developer Account", upgrade_path,
      id: "upgrade-button", class: "btn btn-success"
