<% if can?(:create, @endorsement) && @user != current_user && @user.is_dev && !current_user.endorsees.index(@user) %>
  <a class="btn btn-success pull-right btn-large" data-toggle="modal" href="#endorse-modal">Endorse</a>
  <div class="fade modal" id="endorse-modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3>Endorse <%= @user.name %></h3>
    </div>
    <%= form_for @endorsement, :html => {:class => 'modal-form'} do |f| %>
    <div class="modal-body">
      <div class="control-group">
        <%= f.label :message, 'Message (optional)' %>
        <%= f.text_area :message, :rows => 6, :class => 'input-block-level' %>
      </div>
      <%= f.hidden_field :endorsee_id, :value => @user.id %>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Submit Endorsement', :confirm => 'Are you sure?', :class => 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
<% end %>

<h1><%= @user.name %></h1>

<div class="row-fluid">
  <div class="span2">
    <!-- Picture goes here -->
    <%= image_tag @user.avatar.url(:profile), :width => "180" %>
    <!--Other information about user goes here -->
    <% if !@user.about.blank? %>
      <h3>About</h3>
      <p><%= @user.about %></p>
    <% elsif its_you %>
      <h3>About</h3>
      <p>Your about message is not set, go to your <%= link_to 'account settings', edit_user_path(current_user) %> to set it.</p>
    <% end %>
  </div>
  <div class="span7">
    <% if @user.is_dev %>
    <div id="rating-box">
      <table class="table centered-columns">
        <tr>
          <th>Overall</th>
          <th>Endorsement</th>
          <th>Feedback</th>
        </tr>
        <tr>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr>
      </table>
      <ul class="no-bullet ul-inline">
      <% @user.owned_apps.limit(4).each do |app| %>
        <li><%= app_show(app) %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div id="activity-box">
      <h3>Activity Feed</h3>
      <p>Bla did bla.</p>
    </div>
  </div>
  <div class="span3">
    <% if @user.is_dev %>
      <%# TODO SOMETHING WRONG HERE %>
      <% endorsers = @user.endorsers %>
      <% num_endorsers = endorsers.size %>
      <% if num_endorsers.zero? %>
        <h3>Not Endorsed</h3>
        <!-- TODO know him/her? endorse them! -->
      <% else %>
        <h3>Endorsed By</h3>
        <ul class="no-bullet">
        <% endorsers.each do |endorser| %>
          <li><%= user_show(endorser) %></li>
        <% end %>
        </ul>
      <% end %>
    <% else %>
      <h3>Apps Used</h3>
      <ul>
      <% @user.used_apps.each do |app| %>
        <li><%= link_to app.name, app %></li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
