<h1><%= @user.name %></h1>
<div class="row-fluid">
  <div class="span2">
    <!-- Picture goes here -->
    <%= image_tag @user.avatar.url(:profile) %>
    <!--Other information about user goes here -->
    <h3>About</h3>
    <% unless @user.about.blank? %>
      <p><%= @user.about %></p>
    <% else %>
      <p>Your about message is not set, go to your <%= link_to 'account settings', edit_user_path(current_user) %> to set it.</p>
    <% end %>
  </div>
  <div class="span7">
    <div id="rating-box">
      <h3>Rating Box</h3>
      Overall Rating [in Big and bold] <br/>
      Rating by each category <br/>
      <p>if user - Recent Comment activity goes here </p>
      <p>if dev - Activity of dev stuff goes here  </p>
    </div>
    <div id="activity-box">
      <h3>Activity Feed</h3>
      <p>Bla did bla.</p>
    </div>
  </div>
  <div class="span3">
    <h3>Apps Owned</h3>
    <ul>
    <% @user.owned_apps.each do |app| %>
      <li><%= link_to app.name, app %></li>
    <% end %>
    </ul>
  </div>
</div>
