%h1
  = rating(@user)
  = @user.name

- unless @user.about.blank?
  %h2 About
  %p.about-section= @user.about

%h2
  = "Endorsements (#{@user.endorsers.count})"
  %span.details Rollover endorsers to see endorsement comment, if any.

- if User.can_endorse?(current_user, @user)
  %p.pull-right{style: "margin: 5px 5px 0 0"}
    %a.btn.btn-success{'data-toggle' => "modal", href: "#endorse-modal"} Endorse
  #endorse-modal.modal.hide.fade
    .modal-header
      %a.close{'data-dismiss' => "modal"} &times;
      %h3= "Endorse #{@user.name}"
    = form_for Endorsement.new, html: {class: "modal-form"} do |f|
      .modal-body
        .control-group
          = f.label :comment, "Comment (optional)"
          = f.text_area :comment, rows: 6, class: "input-block-level"
          %p.help-block.warning
            Careful, this action is not reversible (an endorsement is forever).
        = f.hidden_field :endorsee_id, value: @user.id
      .modal-footer
        = f.submit "Submit Endorsement", class: "btn btn-primary"

- if @endorsements.empty?
  %p.alert.alert-info No endorsements.
- else
  .alert.alert-info
    %ul.endorsements
      - @endorsements.each do |endorsement|
        %li= render endorsement

-# TODO only show most recent versions (group by aid and select last created_at)
%h2
  = "Uploaded Apps (#{@apps.count})"
- if @apps.empty?
  %p.alert.alert-info No apps.
- else
  - @apps.each do |app|
    = render app
