#feedback-modal.modal.hide.fade
  = form_for @tech_feedback do |f|
    .modal-header
      %a.close{'data-dismiss' => "modal"} &times;
      %h3= "Tech Feedback for " + @app.name
    .modal-body
      = hidden_field_tag :app_id, @app.id
      .half
        %h4 Select good attributes
      .half
        %h4 Select bad attributes
        - @bads.each do |k, v|
          %label{for: "tech_feedback_" + k.to_s}
            = f.check_box k.to_sym
            = v
      = f.label :comment, "Add a comment"
      = f.text_area :comment, rows: 4
    .modal-footer
      = f.submit "Submit Feedback", class: "btn btn-primary"
      %a.btn{'data-dismiss' => "modal", href: "#"} Close
