.feedback
  - goods, bads = tech_feedback.details
  - goods = goods.map {|g| content_tag(:li, g, class: "up-attribute")}.join
  - goods = "<ul>#{goods}</ul>"
  - bads = bads.map {|b| content_tag(:li, b, class: "down-attribute")}.join
  - bads = "<ul>#{bads}</ul>"
  .btn-group
    %a.btn.btn-success{'data-content' => goods,
      'data-original-title' => "Positive Details",
      href: "#", rel: "popover"}
      = "+#{tech_feedback.ngoods}"
    %a.btn.btn-danger{'data-content' => bads,
      'data-original-title' => "Negative Details",
      href: "#", rel: "popover"}
      = "-#{tech_feedback.nbads}"
  .feedback-text
    = user_name_show(tech_feedback.user)
    provided
    feedback for
    = link_to tech_feedback.app.name, tech_feedback.app
    - if !tech_feedback.comment.empty?
      with a
      %a{'data-content' => tech_feedback.comment,
        'data-original-title' => "Comment", href: "#", rel: "popover"} comment
    \.
