<div class="modal hide fade" id="review-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Review <%= @app.name %></h3>
  </div>
  <div class="modal-body">
  <%= form_for @basic_feedback do |f| %>
    <%= hidden_field_tag :app_id, @app.id %>
    <div class="half">
      <h4>Select good attributes</h4>
      <% @goods.each do |k, v| %>
      <label for="basic_feedback_<%= k %>">
        <%= f.check_box k.to_sym %><%= v %>
      </label>
      <% end %>
    </div>
    <div class="half">
      <h4>Select bad attributes</h4>
      <% @bads.each do |k, v| %>
      <label for="basic_feedback_<%= k %>">
        <%= f.check_box k.to_sym %><%= v %>
      </label>
      <% end %>
    </div>
    <%= f.label :comment, 'Add a comment to your review' %>
    <%= f.text_area :comment, :rows => 4 %>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Submit Feedback', :class => 'btn btn-primary' %>
  </div>
  <% end %>
</div>
