<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @basic_feedback.user_id %>
</p>

<p>
  <b>Good:</b>
  <%= @basic_feedback.good %>
</p>

<p>
  <b>Bad:</b>
  <%= @basic_feedback.bad %>
</p>

<p>
  <b>Score:</b>
  <%= @basic_feedback.score %>
</p>

<p>
  <b>App:</b>
  <%= @basic_feedback.app_id %>
</p>


<%= link_to 'Back', basic_feedbacks_path %>
