<a href="<%= user_url(4) %>" rel="tooltip" class="tooltipped-bottom pull-right" title="<%= User.find(4).name %>"><%= image_tag User.find(4).avatar.url(:thumb), :class => 'pull-right space-left' %></a>
<a href="<%= user_url(3) %>" rel="tooltip" class="tooltipped-bottom pull-right" title="<%= User.find(3).name %>"><%= image_tag User.find(3).avatar.url(:thumb), :class => 'pull-right space-left' %></a>
<a href="<%= user_url(1) %>" rel="tooltip" class="tooltipped-bottom pull-right" title="<%= User.find(1).name %>"><%= image_tag User.find(1).avatar.url(:thumb), :class => 'pull-right space-left' %></a>
<a href="<%= user_url(2) %>" rel="tooltip" class="tooltipped-bottom pull-right" title="<%= User.find(2).name %>"><%= image_tag User.find(2).avatar.url(:thumb), :class => 'pull-right space-left' %></a>

<h1>About GoodApp</h1>

<h2>Overview</h2>

<p>Goodapp is a community of apps and developers. This community establishes a web of trust between its members, and developers is assigned a rating based on this trust network. These ratings gives users valuable information about which developers have an established and trusted reputation in the community, and which developers should be avoided. </p>

<h2>Metrics</h2>

<p>Goodapp is a software application that scans app binaries, attempts to detect malicious activity and creates a web of trust. Each developer account comes with a rating. A trusted user's rating will be based on the following metrics:</p>

<ul>
  <li>other trusted developer's reviews of this user</li>
  <li>basic user feedback about apps from an untrusted member of the community</li>
  <li>rating of each app that the user submitted awarded by the virus/malware scanners</li>
  <li>tatistics based on how many people use the app and the rating of the app itself [e.g. how many downloads recorded from app store] </li>
</ul>

<h2>Github</h2>

<p>This project is open sourced and <a href="https://github.com/tjeezy/goodapp">hosted on Github</a>. Please check the repository to contribute, file bugs, etc.</p>
