<div class="row">
  <div class="span8">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <% @title.each_with_index do |t, i| %>
          <% if i == 0 %>
            <div class="item active">
              <%= image_tag '/assets/crossos.png' %>
              <div class="carousel-caption">
                <h4><%= link_to t, @link[i] %></h4>
                <p><%= @decsr[i] %></p>
              </div>
            </div>
          <% else %>
            <div class="item">
              <%= image_tag '/assets/crossos.png' %>
              <div class="carousel-caption">
                <h4><%= link_to t, @link[i] %></h4>
                <p><%= @decsr[i] %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="row">
      <div class="span4">
        <div class="section">
          <h3>Featured Developers</h3>
          <% User.where(:is_dev => true)[0...10].each do |dev| %>
            <%= user_show(dev) %>
          <% end %>
        </div>
      </div>
      <div class="span4">
        <div class="section">
          <h3>Featured Apps</h3>
          <% App.all[0...10].each do |app| %>
            <%= app_show(app) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="section">
      <h3>Recent Reviews</h3>
      <% @recent_feedbacks.each do |basic_feedback| %>
        <%= render basic_feedback %>
      <% end %>
    </div>
  </div>
</div>
