<h1> Welcome to GoodApp! </h1>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
    	<div class="well">
		<h3>Recent Announcements. </h3>
			<br/>			
			<%= link_to "Windows Store Launches", "http://www.wired.com/gadgetlab/2011/12/windows-8-store-introduced/" %>
			<br/><br/>
			<%= image_tag("https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcQeosI-n15HRsPYjrNmYJ-S6P6vqw6o85EJ0EmWvsvnzkJKTjdhmA", :border=>0, :class => 'dock-item') %>
			<p> To an installed base of 500 million-plus Windows users, the Windows Store presents a whole new world of software discovery and consumption. And to would-be app developers, the new platform splits the difference between the wild, woolly Android Market.
			</p>
			<br/> 
			<%= link_to "Android Bouncer", "http://venturebeat.com/2012/02/02/android-malware-bouncer/" %>
			<br/><br/>
			<%= image_tag("http://venturebeat.files.wordpress.com/2012/02/bouncer-android.jpg?w=558&h=9999&crop=0", :border=>0, :class => 'dock-item') %>
			<p> Whether accurate or exaggerated, claims of rampant malware apps have haunted the Android Market. Now, Google’s Android team is announcing Bouncer, a new security mechanism that should prevent bad apps from ever making it into the Market. </p>
			<br/> 
			<%= link_to "Apple Store App Promotion", "http://www.apple.com/itunes/25-billion-app-countdown/rules/" %>
			<br/> <br/>
			<%= image_tag("https://encrypted-tbn3.google.com/images?q=tbn:ANd9GcSH3OevDsWHn4G09ASuw-IvV1vMYL8uaOpd224kld0S-C6SgZixzg", :border=>0, :class => 'dock-item') %>
			<p> The Apple store has reached 25 billion Apps and now is having 25 Billion Apps Countdown Promotion. </p>			
		</div>	
    </div>
    <div class="span4">
    	<div class="well">
    		<h3> Recent Developer Activity. </h3>
    		<br/>
    		Developer activity goes here, such as endorsement, app upload <br/>
		</div>	
    </div>
    <div class="span4">
    	<div class="well">
    		<h3> Recent App Activity. </h3> 
    		<br/>

    		Developer activity goes here, such as endorsement, app upload <br/>
		</div>	
    </div>
  </div>
</div>

<%= image_tag("", :border=>0, :class => 'dock-item') %>

