<div class="row">
  <div class="span4">
    <div class="news-column">
      <h3>Recent Announcements</h3>

      <% cache :expires_in => 86400 do %>
        <% @title.each_with_index do |t, i| %>
          <h3><%= link_to t, @link[i] %></h4>
          <p><%= @decsr[i] %></p>
        <% end %>
      <% end %>

      <!---
      <%= image_tag("https://encrypted-tbn3.google.com/images?q=tbn:ANd9GcSH3OevDsWHn4G09ASuw-IvV1vMYL8uaOpd224kld0S-C6SgZixzg", :border=>0, :class => 'dock-item') %>
      -->
    </div>
  </div>

  <div class="span4">
    <div class="news-column">
      <h3>Users</h3>
      <% User.all.each do |dev| %>
        <%= user_show(dev) %>
      <% end %>
    </div>
  </div>

  <div class="span4">
    <div class="news-column">

      <h3>Recently Uploaded Apps</h3>
      <ul>
        <% App.all.each do |app| %>
          <li>
          <a href="<%= app_url(app) %>" rel="tooltip" class="tooltipped" title="<%= app.name %>">
            <%= link_to app.name, app %>
          </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
