<div class="row"> 
  
  <div class="span4">
    <div class="news-column">
      <h3>Whats Happening</h3>
      <% # not sure why there is a cahche here -- isn't the one in the controller enough? cache :expires_in => 86400 do %>
        <% @title.each_with_index do |t, i| %>
          <h3><%= link_to t, @link[i] %></h3>
          <p><%= @decsr[i] %></p>
        <% end %>
     <% #end %>
    </div>
  </div>

  <div class="span4">
    <div class="news-column">
      <div class="hero-unit">
        <h1>GoodApp</h1>
        <p><strong>NULL &copy; 2012</strong></p>
        <p>
          <a class="btn btn-primary btn-large">
            About us
          </a>
        </p>
      </div>
    </div>
    <div class="news-column">
      <h3>Featured Developers</h3>
      <% User.all[(1..10)].each do |dev| %>
        <%= user_show(dev) %>
      <% end %>
    </div>
    <div class="news-column">
      <h3>Featured Apps</h3>
        <% App.all[(1...11)].each do |app| %>
          <%= app_show(app) %>
        <% end %>
    </div>
  </div>

  <div class="span4">
    <div class="news-column">
      <h3>Top Apps</h3>
      <ul>
        <% App.all[(1...20)].each do |app| %>
          <li>
          <a href="<%= app_url(app) %>" rel="tooltip" class="tooltipped" title="<%= app.name %>">
            <%= link_to app.name, app %>
          </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="news-column">
      <h3>Recent Reviews</h3>
      <ul>
          <p>..someone says: </p>
          <p> BLAH </p>
      </ul>
    </div>    
  </div>
</div>
