<div class="row">
  <div class="span8">
    <div class="news-column">
      <h3>Whats Happening</h3>
      <div id="myCarousel" class="carousel">
        <div class="carousel-inner">
            <% @title.each_with_index do |t, i| %>
              <% if i == 0 %>
                <div class="active item">
                  <h3><%= link_to t, @link[i] %></h3>
                  <p><%= @decsr[i] %></p>
                </div>
              <% else %>
                <div class="item">
                  <h3><%= link_to t, @link[i] %></h3>
                  <p><%= @decsr[i] %></p>
                </div>
              <% end %>
            <% end %>
        </div>
    <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>

<div class="row">
  <div class="span4">

    <div class="news-column">
      <h3>Featured Developers</h3>
      <% User.where(:is_dev => true)[0...10].each do |dev| %>
        <%= user_show(dev) %>
      <% end %>
    </div>
  </div>

  <div class="span4">
    <div class="news-column">
      <h3>Featured Apps</h3>
      <% App.all[0...10].each do |app| %>
        <%= app_show(app) %>
      <% end %>
    </div>
  </div>
</div>
</div>

  <div class="span4">
    <div class="news-column">
      <h3>Recent Reviews</h3>
      <ul>
      <% App.all[0..17].each do |app| %>
        <li>
          <a href="<%= app_url(app) %>" rel="tooltip" class="tooltipped" title="<%= app.name %>">
          <%= link_to app.name, app %>
          </a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

