%h1 Trust Explained

%h2 Levels of trust

.row-fluid.vert-margin
  %span.label.span2.notrust
    NO TRUST
    = "< 0.0"
  %span.label.span2.trust-none
    = "00 .. 20"
  %span.label.span2.trust-low
    = "21 .. 40"
  %span.label.span2.trust-midlow
    = "41 .. 60"
  %span.label.span2.trust-midhigh
    = "61 .. 80"
  %span.label.span2.trust-high
    = "81 .. 100"


%h2 Components of trust

%p Below is a diagram that shows all of the components that account into a developers trust. The further a components spans to the left, the more negatively it could potentially affect a developer’s rating, while the more it spans to the right, the more it could positively affect a developer’s rating.

= image_tag "spectrum.png", :alt => "trust", class: "centered"

%p Each category is described in more detail below.

.row-fluid
  .span6
    %h3 Virus Total

    %p VirusTotal is a free online service that analyzes files and URLs identifying viruses, worms, trojans and other kinds of malicious content detected by antivirus engines and website scanners. At the same time, it may be used as a means to detect false positives, if it is noticed that similar results are detected as malicious by one or more scanners. GoodApp integrates VirusTotal and uses it to scan App binaries that developers will be uploading onto the site.

    %p The bottom line is, the more Apps a developer uploads, the more scanning is performed per developer. The more scans the developer's App pass, the more gain to the developers rating. However, if an App were to fail a scan - that would reflect really badly on the developers trust rating.

    %h3 Endorsements

    %p GoodApp creates a web of trust between it's developers and it is created through endorsement. Each developer can endorse any other developer: when endorsing someone, the endorser is giving a small fraction of their trust to the endorsee.

    %P GoodApp developers encourage you to be very careful when it comes to endorsing. Once a develoepr has given a fraction of their trust to someone else, if say in the future the endorsee turns malicious - this will not only affect the endorsee but it will also affect each endorser that trusted in the malicious developer.

  .span6
    %h3 Feedback

    %p Feedback can be cotributed only by a developer but also by a basic user, who might just be using the App and who is not aware of the actual coding functionality behind it. It is just a simple form a user can fill out that summarizes good and bad characterictics of the App. The way feedbacks are accounted into the overall trust rating is similar to how Ebay ranks their sellers. The more good rating you have - the better the rating. However, each bad rating is also taken into account.

    %h3 GitHub

    %p GoodApp gives a developer an ability to integrate their GitHub profile into GoodApp. GoodApp will see how many repositories a developer has and how many people are watching those repositories. The more watchers - the more points towards positive rating.

    %h3 Corporate email

    %p If one is a developer and part of big corporate organization, if they register to GoodApp with their work email they automatically gain a little bit more trust then others.

    %h3 Data Scraping

    %p GoodApp pulls data about Apps that get uploaded to its service from the stores on the Internet.
