- title "Settings"

.row-fluid
  .span3.well
    %ul.nav.nav-list
      %li.nav-header= @user.email
      %li.active= link_to "Profile", "#profile-pane", 'data-toggle' => "tab"
      %li= link_to "Account Settings", "#account-settings-pane", 'data-toggle' => "tab"
      %li= link_to "Keys", "#keys-pane", id: "keys-pane-link", 'data-toggle' => "tab"
  .span9.tab-content
    #profile-pane.tab-pane.active
      %h2 Profile
      = form_for current_user, as: :user, url: settings_path, method: :put, html: {class: "form-horizontal"} do |f|
        %fieldset
          %legend Update your personal information
          .control-group
            = f.label :name, class: "control-label"
            .controls
              = f.text_field :name
          .control-group
            = f.label :about, class: "control-label"
            .controls
              = f.text_area :about, rows: 5, style: "width: 98%"
              %p.help-block This field will be displayed on your profile.
          .form-actions
            = f.submit class: "btn btn-primary"
    #account-settings-pane.tab-pane
      %h2 Account Settings
      = render partial: "devise/registrations/form", locals: {resource: current_user, method: :put, legend: "Change your settings"}
    #keys-pane.tab-pane
      %h2 Keys
      -# TODO expand this
      = render partial: "keys/form", locals: {user: @user, key: Key.new}
      - if @user.keys.empty?
        %p.alert.alert-info You have no keys, upload some above.
      - else
        - @user.keys.order("created_at DESC").each do |key|
          = render partial: key, locals: {user: @user}

- content_for :javascript do
  :javascript
    $(function() {
      $('a[href="' + window.location.hash + '"]').click();
    });
