= form_for current_user, html: {method: method, class: "form-horizontal"} do |f|
  %fieldset
    %legend= legend
    - errors = devise_error_messages!(resource)
    .control-group{class: ("error" if errors [:email])}
      = f.label :email, class: "control-label"
      .controls
        = f.email_field :email
        - if errors[:email]
          %span.help-inline
            = errors[:email].join(' and ')
    .control-group{class: ("error" if errors [:password])}
      = f.label :password, class: "control-label"
      .controls
        = f.password_field :password
        - if errors[:password]
          %span.help-inline
            = errors[:password].join(' and ')
    .control-group{class: ("error" if errors [:password_confirmation])}
      = f.label :password_confirmation, class: "control-label"
      .controls
        = f.password_field :password_confirmation
        - if errors[:password_confirmation]
          %span.help-inline
            = errors[:password_confirmation].join(' and ')
    .form-actions
      = f.submit class: "btn btn-primary"
