-# TODO clean out this action -- make it separate parts
%h1= title "Account Settings"

-# TODO add other info? name, etc.
-# TODO let people *enable* profile page (or have one by default)

= form_for current_user, html: {method: :put, class: "form-horizontal"} do |f|
  %fieldset
    %legend Update your account settings.
    - errors = devise_error_messages!(current_user)

    .control-group
      = f.label :email, class: "control-label"
      .controls
        = f.email_field :email

    .control-group
      = f.label :password, class: "control-label"
      .controls
        = f.password_field :password, autocomplete: "off"
        %span.help-block Leave this blank if you don't want to change it.

    .control-group
      = f.label :password_confirmation, class: "control-label"
      .controls
        = f.password_field :password_confirmation

    .control-group
      = f.label :current_password, class: "control-label"
      .controls
        = f.password_field :current_password
        %span.help-block We need your current password to confirm your changes.

    .form-actions
      = f.submit "Update", class: "btn btn-primary"

%h2 Cancel your account
%p
  Unhappy?
  = link_to "Cancel your account", registration_path(resource_name), confirm: "Are you sure?", method: :delete
  \.
