<h1>Register</h1>

<%= twitter_bootstrap_form_for @dev do |f| %>
  <%= f.inputs 'Registration', :class => 'sign_up' do %>
    <% if @dev.errors.any? %>
      <div class="errors">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @dev.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.text_field :email, :class => 'medium', :add_on => :prepend do %>
      <span class="add-on"><i class="icon-envelope"></i></span>
    <% end %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
  <% end %>
  <div class="form-actions">
    <%= f.button 'Register', :class => 'btn btn-primary' %>
    <%= button_tag 'Cancel', :type => 'reset', :class => 'btn' %>
  </div>
<% end %>
