<%= form_for(:basic_feedback, :url => "/apps/#{@app.id}/submit_feedback", :html => {:class => 'form-horizontal'}) do |f| %>


  <div class="field">
    <h3>good</h3>
    <% @options["good"].each_pair do |k, v| %>
      <div class="control-group">
        <%= f.label k, "#{v}", :class => 'control-label' %>
        <div class="controls">
          <%= check_box :good, k  %>
        </div>
      </div>
    <% end %>

    <h3>bad</h3>
    <% @options["bad"].each_pair do |k, v| %>
      <div class="control-group">
        <%= f.label k, "#{v}", :class => 'control-label' %>
        <div class="controls">
          <%= check_box :bad, k  %>
        </div>
      </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  </div>
<% end %>
