<% if can?(:create, @review) && !@app.reviewers.index(@user) %>
  <a class="btn btn-success pull-right btn-large" data-toggle="modal" href="#review-modal">Review</a>
  <div class="fade modal" id="review-modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3>Review <%= @app.name %></h3>
    </div>
    <%= form_for @review, :html => {:class => 'modal-form'} do |f| %>
    <div class="modal-body">
      <p>form stuff</p>
      <%= f.hidden_field :app_id, :value => @app.id %>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Submit Review', :confirm => 'Are you sure?', :class => 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
<% end %>

<h1><%= @app.name %></h1>

<div class="row-fluid">
  <div class="span2">
    <!-- Picture goes here , default will be this, unless one if uploaded with-->
    <%= image_tag("no_logo_uploaded.png", :size => "100x100") %> &nbsp;
    <!--Other information about user goes here -->
    <h3>Description</h3>
    <% unless @app.description.blank? %>
      <p><%= @app.description %></p>
    <% else %>
      <p>No description available. Needs to be set. </p>
    <% end %>
    <h3>Version</h3>
    <h3>Type</h3>
    <p>[apple, android, Windows]</p>
  </div>
  <div class="span7">
    <div id="rating-box">
      <h3>More about this App. </h3>
      <p>developer name:
        <% @app.owners.each do |owner| %>
          <%= link_to owner.name, owner %>
        <% end %>
      </p>
      dev rating <br/>
      How many people have used it on out site <br/>
      How many peopl are using it based on scaping<br/>
    </div>
    <div id="activity-box">
      <ul class="nav nav-tabs">
      <li class="active"><a href="#feedback" data-toggle="tab">Feedback</a></li>
      <li><a href="#tfeedback" data-toggle="tab">Techinal Feedback</a></li>
      <li><a href="#review" data-toggle="tab">Review App</a></li>
      <li><a href="#other" data-toggle="tab">Other</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="feedback">
          <h3>User Reviews</h3>
          <% @feedback.each do |fb| %>
            <%= fb.user.name %>
            <ul>
            <% fb.good.split("::").each do |g| %>
              <li><%= @options["good"]["#{g}"] %></li>
            <% end %>
            <% fb.bad.split("::").each do |g| %>
             <li> <%= @options["bad"]["#{g}"] %></li>
            <% end %>
            </ul>
          <% end %>
        </div>
        <div class="tab-pane" id="tfeedback">
          <p>Technical Form goes here</p>
        </div>
        <div class="tab-pane" id="review">
          <%= render 'basic_feedback' %>
        </div>
        <div class="tab-pane" id="other">
          <p>stuff4 - anything else</p>
        </div>
      </div>
    </div>
  </div>
  <div class="span3">
    <h3>Other Apps Similar to this one</h3>
  </div>
</div>
