- if current_user && !@app.owners.index(current_user)
  %a.btn.btn-success.pull-right.btn-large{'data-toggle' => "modal",
    href: "#review-modal"} Review
  = render "basic_feedbacks/modal_form"

%h1= @app.name

.row-fluid
  .span2
    -# Picture goes here , default will be this, unless one if uploaded with
    = image_tag @app.logo.url(:profile), width: "100"
    -# Other information about user goes here
    %h3 Description
    - unless @app.description.blank?
      %p= @app.description
    - else
      %p No description available. Needs to be set.
    %h3 Version
    %h3 Type
  .span7
    #rating-box
      %h3
        Developed by
        - @app.owners.each do |owner|
          = link_to owner.name, owner
      %h3 App stats
      %table.table.centered-columns
        %tr
          %th # Downloads
          %th # Reviews in Store
          %th Rating
        %tr
          %td 40
          %td 5
          %td
            = image_tag "glyphicons_049_star.png", size: "10x10"
            = image_tag "glyphicons_049_star.png", size: "10x10"
            = image_tag "glyphicons_049_star.png", size: "10x10"
    #feedbacks
      %h3 Feedback
      - feedback = false
      - @basic_feedbacks.each do |basic_feedback|
        - feedback = true
        = render basic_feedback
      - if !feedback
        = "Be the first to review"
        = @app.name
  .span3
    %h3 Similar Apps
