<% unless @app.owners.index(current_user) %> <%# !@app.reviewers.index(@user) %>
<a class="btn btn-success pull-right btn-large" data-toggle="modal" href="#review-modal">Review</a>
<div class="fade modal" id="review-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Review <%= @app.name %></h3>
  </div>
  <%# TODO fix the url to post to right path %>
  <%= semantic_form_for(@response_set, :as => :r, :url => update_my_survey_path(:survey_code => @survey.access_code, :response_set_code => @response_set.access_code, :finish => '1', :app_id => @app.id), :html => {:class => 'modal-form'}) do |f| %>
  <div class="modal-body">
    <% @survey.sections.each do |section| %>
      <% @section = section %>
      <% (questions = @section.questions).each_with_index do |q, i| %>
        <%= render :partial => 'partials/question', :locals => {:f => f, :q => q} %>
      <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Submit Feedback', :class => 'btn btn-primary' %>
  </div>
  <% end %>
</div>
<% end %>

<h1><%= @app.name %></h1>

<div class="row-fluid">
  <div class="span2">
    <!-- Picture goes here , default will be this, unless one if uploaded with-->
    <%= image_tag("no_logo_uploaded.png", :size => "100x100") %> &nbsp;
    <!--Other information about user goes here -->
    <h3>Description:</h3>
    <% unless @app.description.blank? %>
      <p><%= @app.description %></p>
    <% else %>
      <p>No description available. Needs to be set. </p>
    <% end %>
    <h3>Version:</h3>
    <h3>Type:</h3>
  </div>
  <div class="span7">
    <div id="rating-box">
      <h3>Developed by:
        <% @app.owners.each do |owner| %>
          <%= link_to owner.name, owner %>
        <% end %>
      </h3> <br/>
      <h3>App stats</h3>
      <table class="table centered-columns">
        <tr>
          <th># Downloads</th>
          <th># Reviews in Store</th>
          <th>Rating</th>
        </tr>
        <tr>
          <td>40</td>
          <td>5</td>
          <td>
              <%= image_tag("glyphicons_049_star.png", :size => "10x10") %> &nbsp;
      <%= image_tag("glyphicons_049_star.png", :size => "10x10") %> &nbsp;
    <%= image_tag("glyphicons_049_star.png", :size => "10x10") %> &nbsp;

          </td>
        </tr>
      </table>
    </div>
    <div id="activity-box">
      <ul class="nav nav-tabs">
      <li class="active"><a href="#feedback" data-toggle="tab">Feedback</a></li>
      <li><a href="#tfeedback" data-toggle="tab">Techinal Feedback</a></li>
      <li><a href="#review" data-toggle="tab">Leave Feedback</a></li>
      <li><a href="#other" data-toggle="tab">Leave Technical Feedback</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="feedback">
          <h3>User Reviews</h3>
        </div>
        <div class="tab-pane" id="tfeedback">
          <p>Technical Form goes here</p>
        </div>
        <div class="tab-pane" id="review">
        </div>
        <div class="tab-pane" id="other">
          <p>Coming up soon</p>
        </div>
      </div>
    </div>
  </div>
  <div class="span3">
    <h3>Similar Apps</h3>
  </div>
</div>
