- haml_tag_if(!defined?(wrapper), :div, id: "key-#{key.id}", class: "key") do
  - status = key.proper ? "success" : "danger"
  .alert{class: "alert-#{status}"}
    - if key.proper
      .pull-right
        -# TODO = link_to "Edit", "#", class: "btn btn-info"
        = button_to "Delete", [current_user, key], method: "delete", class: "btn btn-danger"
    %h3
      - if key.email_key? && key.rating
        - prefix, suffix = key.title.split(/@/)
        = prefix + "@"
        %span.corporate-email.label= suffix
      - else
        = key.title
      - if key.style == "pgp"
        %span.label.label-info{style: "vertical-align: 0%"}= "PGP #{key.fingerprint}"
      - elsif key.style == "email"
        %span.label.label-info{style: "vertical-align: 0%"}= "EMAIL"
      %span
        %em= "(uploaded " + distance_of_time_in_words_to_now(key.created_at) + " ago)"
    - if !key.proper
      .progress.progress-danger.progress-striped
        .bar{style: "width: #{key.status.to_s}%"}
          %p= key.state
    - elsif key.status < 100
      .progress.progress-success.progress-striped.active
        .bar{style: "width: #{key.status.to_s}%"}
          %p= key.state
      - if !defined? js
        - content_for :javascript_onload do
          :plain
            refreshMini("key", #{key.id});
    - else
      - if !key.email_key?
        %pre
          -# TODO based on key type (PGP, etc.) maybe show fingerprint instead of key.kee?
          %code= key.kee.truncate(200)
      - else
        - if key.rating
          %p.label.label-success= "+ #{key.rating} rating"
